langchain
langchain-community
langchain-huggingface
pypdf
faiss-cpu
sentence-transformers

# llama-cpp-python requires custom wheel index
--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124
llama-cpp-python
